
:root{
    
}

*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: inherit;
}


html{
    font-family: Roboto;
    height: 100%;
}
body{
    
}

/* -------------------------------------------------------formatting----- */
h1,h2,h3{
    font-family: Rokkit;
}

/* -------------------------------------------------------sections----- */




/* -------------------------------------------------------icons----- */


/* -------------------------------------------------------buttons----- */




/* end of code */