
@import url('https://fonts.googleapis.com/css?family=Rokkitt:100,200,300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Rokkitt:100,200,300,400,500,700&display=swap');

:root{
    --color-primary:#9DDBF0;
    --color-footer:#24313B;
    --text-dark:#515151;
    --text-light:#FFFFFF;
    --btn-color-primary:#37C4C5;
    --btn-color-secondary:#F52157;
    --color-nav:#333331;
}
html{
    height: 100%;
    width: 100%
}
body{
    min-width: 320px;
    font-family: Roboto;
    width: 100%;
    text-decoration: none;
    list-style: none;
    overflow: auto;
    color: var(--text-dark);
    box-sizing: border-box;
    
}
/* -------------------------------------formatting-------- */
h1,h2,h3,h4,h5{
    font-family: rokkitt;
}

h1{
    font-weight: 400;
    padding: 1rem 1.1rem;
    
}
h2{
    font-weight: 400;
    padding: 1rem 1.1rem;
    
}

h3{

}
p{
    line-height: 2rem;
    font-weight: 300;
    font-size: 1rem;
}
small{
    font-weight: 300;
    font-size: 2.6rem;
}
.navbar-nav, .jumbotron-fluid,.container-fluid{
    padding: 0 1rem;
 
}



/* -------------------------------------sections-------- */

header{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../images/bg_header.jpg");
    background-repeat: no-repeat; 
    background-position: top bottom;
    background-size: cover;    
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: transparent;  
    
}
.navbar-brand img{
    display: block;
    width: 150px;
    
}
.navbar-nav{
    height: 100vh;
    opacity: 0.8;
    background-color: var(--color-nav);
}
.collapse{
    width: 100%;
}
.nav-item{
    display: block;
    width: 100%;
    border-bottom: 0.2px solid white;
}
.nav-link{
    color: var(--text-light);
}
.nav-link:hover{
    color: var(--color-primary);
}
.navbar-toggler{
    border:none;
    
}



/* JUMBOTRON */
.jumbotron-fluid{
    color: var(--text-light);
    

}
.jumbotron-fluid h1{
    
    font-size:3.9rem;
    line-height: 0.9;
    font-weight: 500;
    
   
}
.jumbotron-fluid p{
    font-family: roboto;
    color: var(--text-light);
    font-size: 1.3rem;
    font-weight: lighter;
    opacity: 0.9;
    padding: 4rem 4rem 0 4rem ;
    line-height: 3rem;
    margin: 0.5rem;
}


/* FEATURES SECTION */
#features{
    height:100%;
    padding-top:5rem;
    padding-bottom:2rem
}
.card{
    border: none;
    padding-bottom:3rem;
    
}
.card-body{
padding: 0;
}
.iconify{
    font-size: 4.5rem;
}

/* ABOUT SECTION */

#about{
    height: 1000px;
    color: var(--text-light);
    background-image: url("../images/bg_nuage.jpg");
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    background-size: cover;
}

.bg-opacity{
    background-color: var(--btn-color-primary);
    padding-top:5rem;
    padding-bottom:2rem;
    width: 100%;
    height: 1000px;
    opacity: 0.4;
}
.about-content{
    position: absolute;
    top: 0;
}

/* -------------------------------------buttons-------- */

.btn{
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    border: none;
    font-weight: 300;
    padding: 0.8rem 1em;
}
.btn-holder{
    padding-bottom: 10rem;
}  

.btn-blue{
    background-color:var(--btn-color-primary);
}
.btn-pink{
    background-color:var(--btn-color-secondary)
}



 
@media (min-width: 576px) { }


@media (min-width: 768px) { }


@media (min-width: 992px) {  }


@media only screen and (min-width: 1200px) { 

    
}